page-home {

}
.icon-big {
	display: flex !important;
	justify-content:center;
	align-items:center;
	height: 100px !important;
}

.icon-big md-icon{
	font-size:60px;
	margin-top:-25px !important; 
}

.icon-big{
	background-color:#f66249;

}

.cabeza {
	background-color: #2279d3;

}

/* .grid-img1{
	background-color: #2279d3;
	height: 300px; 
	margin-right:10px;
	width: 250;
} */

.img{
	margin-top:10px;
	/* margin-top:10px es para poner un especio de encima en */
}

.img:hover{
	opacity:.5;
	cursor:pointer;
}

.footer{
	background-color: #2279d3;
}


/* Para las imagenes */

.card-background-page {

  .div {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
    text-align: center;
  }

}

.compartir{
	display: flex !important;
	justify-content:center;
	align-items:center;
	height: 35px !important;
	width: 35px !important;

}

.compartir on-fab-list{
	font-size:60px important;
	margin-top:-10px !important; 
}

.titulo {
	text-align: center;
}















