page-home {

}
.icon-big {
	display: flex !important;
	justify-content:center;
	align-items:center;
	height: 100px !important;
}

.icon-big md-icon{
	font-size:50px;
	margin-top:-25px !important; 
}

.cabeza {
	background-color: #2279d3;

}


