page-home {

}
.icon-big {
	display: flex !important;
	justify-content:center;
	align-items:center;
	height: 100px !important;
}

.icon-big md-icon{
	font-size:50px;
	margin-top:-25px !important; 
}

.icon-big{
	background-color:#f66249;

}

.cabeza {
	background-color: #2279d3;

}

/* .grid-img1{
	background-color: #2279d3;
	height: 300px; 
	margin-right:10px;
	width: 250;
} */

.img{
	margin-top:10px;
	/* margin-top:10px es para poner un especio de encima en */
}

.img:hover{
	opacity:.5;
	cursor:pointer;
}

.footer{
	background-color: #2279d3;
}














